@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #a1c9a2;
}

::-webkit-scrollbar-thumb {
  background: #4caf50;
}

::-webkit-scrollbar-thumb:hover {
  background: #659167;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-size: 16px;
  }
}

.jockey-font {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
button {
  transition: all 0.3s ease;
}

.page-section {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.side-bar {
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.5rem;
}

.sidebar-content {
  height: full;
  display: grid;
  grid-template-rows: 1fr auto;
}

.dashboard-column {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  column-gap: 2rem;
}